/* Dashboard */
  
/* tamanho da barra de pesquisa */
#barrapesqDashboard{
  width: 300px;
  height: 30px;
  padding: 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* caixa contendo o botao e barra de pesquisa da dashboard. */
#caixaFormETitulo{
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
/* botao de pesquisar */
#pesquisaDashboard{
  height: 30px;
  width: 140px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px white;
}
/* mudança da seta passando pelo botao */
#pesquisaDashboard:hover{
  cursor: pointer;
  transform: scale(1.01);
}

/* box contendo o menu lateral e a parte de produtos cadastrados */
#dashboard{
  display: flex;
}

/* estilização da box menor */
#indice1{
  background-color:#333;
  color: white;
  font-size: 15px;
  margin: 20px 20px 0px 30px;
  padding-top: 20px;
  /* border:solid 2px red; */
  height: 400px;
  width: 15%;
  border-radius: 5px;
  padding: 5px;
}

/* alteraçao de cor barra lateral */
#indice1, .indiceDashboard:hover{
  color: #0bb3f5;
}

/* estilização da box maior */
#indice2{
  background-color: #333;
  border: solid 2px #000;
  border-radius: 10px;
  padding-left: 10px;
  color: #fff;
  width: 80%;
  height: 630px;
  margin-top: 20px;
}

/* h2 da box menor */
.h2Dashboard{
  color: #fff;
}

/* tabela de produtos */
#tabelaDashboard{
  border-collapse: collapse;
  /* border:solid 2px lawngreen; */
  width: 100%;
  height: 300px;
}

/* linhas da tabela */
#tabelaDashboard td,
#tabelaDashboard th{
  border: none;
  border-bottom: 1px solid #222; /* só linha inferior */
  padding: 8px;
}

/* imagem da box de produtos */
.imagemDashboard{
  display: flex;
  align-items: center;
}

/* botao de editar e remover */
.botaoDashboard{
  background-color: #333;
  color: #fff;
  width: 60px;
  height: 30px;
  margin-right: 30px;
}.botaoDashboard:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/* caixa do botao voltar */
#divBotaoVoltar{
  /* border: solid 1px red; */
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

/* botar de voltar ao inicio */
#voltarPagina{
  display: flex;
  border: solid 1px white;
  border-radius: 25px 10px 10px 25px;
  /* background-color: #333; */
  height: 30px;
  width: 290px;
  text-align: center;
}#voltarPagina:hover{
  transform: scale(1.01);
}
#voltarPaginaEsc{
  margin-left: -25px;
  font-size: 25px;
  /* border: solid 1px red; */
  height: auto;
  width: auto;
}.fa-circle-left{
  font-size: 30px;
  margin-top: -2px;
  margin-left: -4px;
}