/* Pagina de informação sobre o produto */
#mainInfoProduto{
  width: 100%;
  height: 824px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px gold; */
}

/* caixa contendo TUDO sobre o produto */
#caixaInfoProduto{
border: solid 1px white;
background-color: #222;
padding: 10px;
width: 70%;
height: 600px;
display: flex;
}
/* Caixa das imagens do produto */
#caixaImgInfoProduto{
  /* border: solid 1px goldenrod; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 600px;
  width: 50%;
}
/* Parametros das imagens do produto */
#ImagemProdMaior{
  border: solid 1px white;
  width: 700px;
  height: 400px;
}.imgInfoProduto{
  border: solid 1px white;
  margin: -10px 10px 10px 10px;
  width: 120px;
  height: 100px;
}
/* caixa contendo a parte escrita sobre o produto */
#caixaEscritaInfoProduto{
  width: 50%;
  /* border: solid 1px lightseagreen; */
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 15px 15px;
}

/* caixa com a descrição/cod e avaliacao */
#caixaDescricaoInfoProduto{
width: 100%;
height: 150px;
margin-top: 5px;
display: flex;
flex-wrap: wrap;
/* border: solid 1px purple; */
}

/* descrição do produto */
#descInfoProduto{
color: white;
/* border: solid 1px red; */
width: 100%;
margin-bottom: 10px;
}
/* Div com as entrelas de opiniao e a estrela em si */
#opiniaoInfoProd{
  /* border: solid 1px red; */
  height: 20px;
  margin-left: 10px;
  width: auto;
  
}.fa-star.fa-sharp{
color: white;
margin: 0px;
font-size: 15px;
}
/* parametros das letras dos <p> da pagina */
.letraInfoProduto{
  font-weight: lighter;
}
/* caixa com os valores do produto */
#caixaValoresInfoProduto{
/* border: solid 1px red; */
justify-content: end;
display: flex;
margin-bottom: 20px;
width: 100%;
height: 60px;
}
/* parametros das escrita da pagina */
.letraInfoProduto{
  font-size: 15px;
}
/* id para editar o tamanho da fonte somente do VALOR do produto */
#valorProdutoInfo{
font-size: 30px;
}
/* caixa SÓMENTE COM OS VALORES */
#cxValoresInfoProdEsc{
  /* border: solid 1px red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 50px;
  width: 180px;
  height: 60px;
}
/* botao comprar da pagina info prod */
#botComprarInfoProduto{
  border: solid 1px white;
  display: flex;
  width: 180px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}#botComprarInfoProduto:hover{
  transform: scale(1.01);
}
/* Informacoes adicionais sobre o produto */
#infoAdicionais{
  /* border: solid 1px red; */
  align-self: flex-end;
}