/* Main Pagina Inicial */
#meioInicio{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 1160px;
    height: 1030px;
    /* border: solid 1px goldenrod; */
    justify-content: center;
}
/* caixa contendo cada categoria dentro */
#categorias{
  /* border: solid 1px red; */
  background-color: #222;
  margin-top: 15px;
  max-width: 100%;
  min-width: 1160px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;
  display: flex;
}.caixaCategoria{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border: solid 1px white;
}.caixaCategoria:hover{
  transform: scale(1.01);
}

/* preco produto */

#bannerInicio{
    width: 1160px;
    min-width: auto;
    height: 280px;
    /* border: solid 1px red; */
}#imgBanner{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 250px;
  width: 1160px;
}
/* Caixa com as 2 divs de produtos */
#conteinerProduto{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    height: 660px;
    margin-bottom: 50px;
    background-color: #222;
    /* border: solid 1px red; */
}

/* divs dos produtos (4 produtos cada div) */
#caixaProdutos1{
    display: flex;
    width: 1160px;
    height: 300px;
}#produto{
    margin-bottom: 0px;
    margin-top: 0px;
}.precoProd{
    align-self: end;
    margin-top: -10px;
    cursor: default;
}
.imgProduto{
  /* border: solid 1px red; */
  height: 200px;
  justify-self: center;
}.imgProduto:hover{
    transform: scale(1.01);
    cursor: pointer;
}.textoImg{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.textoProd{
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

#caixaProdutos2{
    display: flex;
    width: 1160px;
    height: 300px;
}