*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* Reset CSS ACIMA */

/* Dimensao PAdrao */

a{
    text-decoration: none;
    color: lightblue;
    display: block;

}
h2,h1{
  display: block;
  color: white
}

body{
     background-color: #111;
     font-family:"Poppins", sans-serif;
     color: white;
}

form{
  display: block;
}

footer{
width: 100%;
height: 300px;
margin-top: 30px;
/* border: solid 1px greenyellow; */
}

/* REMOÇÃO DAS SETAS DO INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.caixaProduto{
    display: flex;
    align-items: flex-start;
    background-color: #333;
    width: 250px;
    height: 300px;
    margin: 20px;
    justify-content: center;
}

/* ////////////////////////////////////// */

/*Cabeçaclho*/
header{
    /* border: solid 2px white ;  */
    background-color: #222;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo da loja */
#userID{  
  /* border: solid 2px pink; */
  width: 100px;
  height: 80px;
  margin-left:30px ;
}#userID:hover{
  cursor: pointer;
}
/* barra de pesquisa */
#pesquisa{
  width: 300px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px white;
  padding: 5px;
}
/* botao da barra de pesquisa */
#botPesquisa{
  height: 40px;
  width: 150px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px white;
  margin-left: -3px;
}#botPesquisa:hover{
  background-color: gray;
  cursor: pointer;
}.fa-solid.fa-magnifying-glass{
  color: black;
  text-align: center;
  width: 100%;

}
/* caixa contendo o carrinho e conta */
#cxBotao{
  margin-right: 20px;
  /* border: solid 2px blue; */
  width: 205px;
  height: 100px;
  display: flex;
  align-items: center;
  
  
}
/* botao carrinho */
#carrinho{
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin-right: 5px;
}#carrinho:hover{
  transform: scale(1.02);
}.fa-cart-shopping{
  color: green;
  
}
/* botao conta */
#conta{
  border: solid 2px white ;
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}#conta:hover{
  transform: scale(1.02);
}


/* //////////////////////////////////// */

/* footer */
/* box contendo logo,atendimento,tel e email */
#box1Footer{
  display: flex;
  /* border: solid 2px teal; */
  justify-content: center;
  background-color: #222;
  height: 150px;
}
/* box contendo redes sociais,pagamento  e newsleller */
#box2Footer{
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  height: 150px;
}
/* box horario de atendimento */
#atendFooter{
  align-self: center;
  display: flex;
  justify-content: space-between;
  /* border: solid 2px indigo; */
  /* background-color: #222; */
  width: 100%;
  height: 80px;
}

/* box redes sociais*/
#socialFooter{
  color: #fff;
  /* border: solid 2px crimson; */
  font-size: 30px;
  width: 25%;
  height: 120px;
  text-align: center;
  align-self: center;
  font-size: 25px;
}
/* box formas de pagamento */
#pagamentoFooter{
  color: #fff;
  margin: 0 40px;
  /* border: solid 2px orange; */
  width: 500px;
  height: 120px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
}#divPagamento{
  /* border: solid 1px red; */
  text-align: center;
}
/* box email*/
#emailFooter{
  margin: 0 40px;
  border: solid 2px lawngreen;
  font-size: 15px; 
  /* background-color: #444; */
  width: 35%;
  text-align: justify;
}

/* caixa ifnerio footer */
#caixaInferiorFooter{
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* box email newsletter*/
#boxEmailFooter{
  border: solid 2px aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 250px;
  height: 45px;
}

/* botao newsletters*/
#botaoFooter{
  border-radius: 0px 5px 5px 0px;
  height: 30px;
  transform: translate(860%, -100%);
}
/* texto newsletter*/
#textoFooter{
  color: #fff;
  /* border: solid 2px burlywood; */
  text-align: center;
  height: 50px;
  margin-top: 15px;
  align-self:flex-end ;
  font-size: 20px;
}

/* telefone*/
#telFooter{
  /* border: solid 2px goldenrod; */
  margin: 0 25px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 320px;
  padding-top: 25px;
  padding-left: 50px;
  font-size: 15px;
}
/* sac*/
#sacFooter{
  /* border: solid 2px cornflowerblue; */
  margin: 0 25px;
  font-size: 20px;
  display: flex;
  width: 320px;
  padding-top: 25px;
  padding-left: 50px;
  font-size: 15px;
}
/* horario atendimento*/
#horaFooter{
  /* border: solid 2px darkmagenta; */
  flex-wrap: wrap;
  color: #fff;
  margin: 0 25px;
  font-size: 20px;
  display: flex;
  width: 320px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;

}
/* icone telefone*/
#telCaixa{
  /* border: solid 2px navajowhite; */
  margin: none;
  margin-left: -55px;
  width: 30px;
  height: 30px;
}
/* icone email*/
#iconFooter3{
  /* border: solid 2px hotpink; */
  color: #fff;
  height: 30px;
  margin-right:5px;
}
/* tamanho icones sociais*/
svg{
  width: 50px;
  height: 50px;
  padding: 0 5px;

/* box contendo os icones sociais*/
}
#iconSocial{
  display: flex;
  justify-content: center;
  
}

/* icone instagram */
 #botaoIcon1{
  background-color: #fff;
  color: #fff;
  border: solid 2px greenyellow;
  width: 50px;
  height: 45px;

/* icone facebook */
}
#botaoIcon2{
  background-color: #fff;
  color: #fff;
  border: solid 2px lavender;
  width: 50px;
  height: 45px;
}

/* icone twitter */
#botaoIcon3{
  background-color: #fff;
  color: #fff;
  border: solid 2px indianred;
  width: 50px;
  height: 45px;
}

/* posicao dos icones */
#botaoIcon1 svg{
  transform: translateX(13%);
 }
#botaoIcon2 svg{
  transform: translateY(-10%);
 }
 #botaoIcon3 svg{
  transform: translateY(-10%);
 }

